<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Welcome to the Chatbot alias ChatBit</title>
    </link>
</head>

<body class="bg-primary">
    <div class="text-light text-center center">
        <h1 class="display-4">Welcome to our ChatBot project !</h1>
        <form method="POST">
            <input type="text" name="botName" placeholder="name the bot">
            <select name="botPerso">
                <option>--Select a personnality--</option>
                <option value="normal">Normal</option>
                <option value="crazy">Crazy</option>
                <option value="nice">Nice</option>
                <option value="mean">Mean</option>
            </select>
            <button formaction="/createBot">Create</button>
        </form>
            
    </div>
</body>
</html>